<!DOCTYPE html>
<html lang="en" ng-app="bestRestaurants">
  <head>
    <meta charset="UTF-8">
    <title>Best Restaurants</title>
    <script src="lib/angular.js"></script>
    <script src="js/checklist-model.js"></script>
    <script src="app.js"></script>
    <script src="js/RestaurantsController.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.2/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="container" ng-controller="RestaurantsCtrl">
      <div class="row">
        <div class="col-md-6">
          <h2>New Restaurant</h2>
          <form ng-submit="addRestaurant()" role="form" name="addNew">
            <div class="form-group">
              <input type="text" ng-model="restaurantName" class="form-control" placeholder="Enter Name" required>
            </div>
          <div class="form-group">
            <p>Food Types</p>
            <label ng-repeat="foodType in foodTypes">
              <input type="checkbox" checklist-model="restaurantFood.foodTypes" checklist-value="foodType"> {{foodType}}
            </label>
          </div>
            <div class="form-group">
              <select ng-model="restaurantLocation" required>
                <option disabled value="">Select Location</option>
                <option value="Downtown">Downtown</option>
                <option value="Southwest">Southwest</option>
                <option value="Southeast">Southeast</option>
                <option value="Northwest">Northwest</option>
                <option value="Norteast">Northeast</option>
              </select>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" ng-model= "restaurantAddress" placeholder="Restaurant address" required>
            </div>
            <div class="form-group">
              <select ng-model="restaurantPrice" required>
                <option disabled value="">Select Price Range</option>
                <option value="$0-15">$0-15</option>
                <option value="$15-30">$15-30</option>
                <option value="$30+">$30+</option>
              </select>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
      <div class="row" ng-show="restaurants.length">
        <div class="col-md-12">
          <h4>Search Restaurants</h4>
          <h5>Type in a the restaurant name, food type, location, or price range.</h5>

          <form class="form-inline" role="form">
            <div class="form-group">
              <input ng-model="query" type="text" class="form-control" id="restaurant-name" placeholder="Search">
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2 ng-show="restaurants.length && filtered.length">Restaurant list</h2>
          <h2 ng-show="restaurants.length && !filtered.length">No matches</h2>
          <h3 ng-show="restaurants.length">Click on a restaurant name, type, location, or price range to edit.</h3>

          <dl>
            <dt ng-repeat-start="item in filtered = (restaurants | filter:query)">
              <span ng-click="editing = true" ng-hide="editing">
              {{item.name}} <a ng-click="deleteRestaurant(item)">Delete</a>
              </span>
              <span class="form-group" ng-show="editing" ng-submit="editing = false">
                <form class="form-inline" role="form">
                  <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required>
                  <button class="btn btn-default btn-sm" type="submit">Save</button>
                </form>
              </span>
            </dt>
            <dd>
              -- Food Type:
              <span ng-click="foodEditing = true" ng-hide="foodEditing">
              {{item.food}}
              </span>
              <span class="form-group" ng-show="foodEditing" ng-submit="foodEditing = false">
                <form class="form-inline" role="form">
                  <input type="text" class="form-control input-sm" ng-model="item.food" placeholder="Food Type" required>
                  <button class="btn btn-default btn-sm" type="submit">Save</button>
                </form>
              </span>
            </dd>
            <dd>-- Location:
              <span ng-click="locationEditing = true" ng-hide="locationEditing">
              {{item.location}}
              </span>
              <span class="form-group" ng-show="locationEditing" ng-submit="locationEditing = false">
                <form class="form-inline" role="form">
                  <input type="text" class="form-control input-sm" ng-model="item.location" placeholder="Location" required>
                  <button class="btn btn-default btn-sm" type="submit">Save</button>
                </form>
              </span>
            </dd>
            <dd>-- Address:
              <span ng-click="addressEditing = true" ng-hide="addressEditing">
              {{item.address}}
              </span>
              <span class="form-group" ng-show="addressEditing" ng-submit="addressEditing = false">
                <form class="form-inline" role="form">
                  <input type="text" class="form-control input-sm" ng-model="item.address" placeholder="Address" required>
                  <button class="btn btn-default btn-sm" type="submit">Save</button>
                </form>
              </span>
            </dd>
            <dd ng-repeat-end="item in restaurants">-- Price Range:
              <span ng-click="priceEditing = true" ng-hide="priceEditing">
              {{item.price}}
              </span>
              <span class="form-group" ng-show="priceEditing" ng-submit="priceEditing = false">
                <form class="form-inline" role="form">
                  <input type="text" class="form-control input-sm" ng-model="item.price" placeholder="Price Range" required>
                  <button class="btn btn-default btn-sm" type="submit">Save</button>
                </form>
              </span>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </body>
</html>
